.container { position: relative; display: inline-flex; align-items: center; justify-content: center; }
.icon { font-size: 24px; }
.quantity { position: absolute; bottom: -2px; right: -4px; font-family: 'Roboto', sans-serif; font-size: 12px; font-weight: 700; color: #E9E1D1; }
