@import '../../../styles/variables.less';

.ornament {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: @zelda-tan;
}

.svg {
  width: 100%;
  height: 100%;
}

// ---- Sides ----
.left {
  // Default orientation
}

.right {
  transform: scaleX(-1);
}
